<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>登録情報確認</title>
<style type="text/css">
.card{
margin-right: auto;
margin-left : auto;
margin-top : 100px;
margin-bottom : auto;
width:250px;
}
.submit {

    position: absolute;

    right: 0;

    bottom: 0;

}
.modoru {

    position: absolute;

    left: 0;

    bottom: 0;

}

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="card ">
  <div class="card-body">
<form action="completeregister" method="post">


<br><br>
<h3>登録内容確認</h3>
<table class="table table-bordered">
 
  <tbody>
    <tr>
      
      <td>社員番号</td>
      <td><p th:text="${syainno}"></p></td>
    </tr>
    <tr>
      
      <td>氏名</td>
      <td><p th:text="${name}"></p></td>
    </tr>
    <tr>
      
      <td>所属部署</td>
      <td><p th:text="${department}"></td>
    </tr>
  </tbody>
</table>
<br><br>

<input type="hidden" name="syainno" th:value="${syainno}">
<input type="hidden" name="name" th:value="${name}">
<input type="hidden" name="department" th:value="${department}">
<input type="submit" value="登録" class="submit btn btn-outline-secondary">
<input type="button" value="戻る" onclick="history.back()"class="modoru btn btn-outline-secondary">
</form>
</div>
</div>
</body>
</html>