<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理者top</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
    .test{
   text-align:center;
   position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
    }
    .pos { position:absolute; top:0%; right:0%; }
    </style>
</head>
<body>
<p  th:text="${user}" class="pos"><p>



<div class="row row-cols-2 row-cols-md-3">
  <div class="col mb-2">
    <div class="card" style="width: 20rem;height: 20rem; left: 50px; top :50px;">
     
      <div class="card-body">
      <div class="test">
        <h5 class="card-title">社員情報検索</h5>
        </div>
         <a href="emp" class=" stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div class="card" style="width: 20rem;height: 20rem; left: 50px; top :50px;">
      
      <div class="card-body">
      <div class="test">
        <h5 class="card-title">ユーザー検索</h5>
        </div>
         <a href="user" class=" stretched-link"></a>
      </div>
    </div>
  </div>
 
</div>





</body>
</html>