<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理者top</title>
<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <style type="text/css">
    .test{
   text-align:center;
   position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
    }
    </style>
</head>
<body>




<div class="row row-cols-2 row-cols-md-3">
  <div class="col mb-2">
    <div class="card" style="width: 20rem;height: 20rem; left: 50px; top :50px;">
     
      <div class="card-body">
      <div class="test">
        <h5 class="card-title">社員情報検索</h5>
        </div>
         <a href="Serch" class=" stretched-link"></a>
      </div>
    </div>
  </div>
  <div class="col mb-2">
    <div class="card" style="width: 20rem;height: 20rem; left: 50px; top :50px;">
      
      <div class="card-body">
      <div class="test">
        <h5 class="card-title">ユーザー検索</h5>
        </div>
         <a href="SerchUser" class=" stretched-link"></a>
      </div>
    </div>
  </div>
 
</div>





</body>
</html>