<!DOCTYPE html>
<html>
<head>

<meta charset="UTF-8">
<title>登録情報確認</title>





<style type="text/css">
.card{
margin-right: auto;
margin-left : auto;
margin-top : 100px;
margin-bottom : auto;
width:250px;
}
.submit {

    position: absolute;

    right: 0;

    bottom: 0;

}
.modoru {

    position: absolute;

    left: 0;

    bottom: 0;

}

</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="card ">
  <div class="card-body">
<form action="completeuserchange" method="post">


<br><br>
<h3>変更内容確認</h3>
<table class="table table-bordered">
 
  <tbody>
    <tr>
      
      <td>ユーザID</td>
      <td><p th:text="${userid}"></p></td>
    </tr>
    <tr>
      
      <td>ユーザ名</td>
      <td><p th:text="${name}"></p></td>
    </tr>
    <tr>
      
      <td>パスワード</td>
      <td><p th:text="${password}"></p></td>
    </tr>
    <tr>
      
      <td>権限</td>
      <td th:switch="${role}">
    <p th:case =="1">管理者</p>
    <p th:case =="2">一般</p></td>
    </tr>
  </tbody>
</table>
<br><br>

<input type="hidden" th:value="${userid}" name="userid"><br><br>
<input type="hidden" th:value="${name}" name="name"><br><br>
<input type="hidden" th:value="${role}" name="role"><br><br>
<input type="hidden" th:value="${password}" name="password"><br><br><br>
<input type="hidden" th:value="${beforeuserid}" name="beforeuserid">
<input type="submit" value="変更" class="submit btn btn-outline-secondary">
<input type="button" value="戻る" onclick="history.back()"class="modoru btn btn-outline-secondary">
</form>
</div>
</div>
</body>
</html>