<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>変更完了</title>
<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
<style type="text/css">
.size{
font-size: 200%;
text-align:center;
}
.tyuo{
text-align : center ;
}
</style>
</head>
<body>
<br><br>
<br>
<h5 class="size">変更されました</h5>
<br>
<br>
<form action="SerchUser" method="post">
<div class="tyuo">
<input type="submit" value="ユーザ一覧へ" class=" btn btn-outline-secondary mx-auto"  >
</div>
</form>
</body>
</html>